/* #0067B6 #9CB700 #211412 #29648A
#25274D #464866 #AAABB8 #2E9CCA */

.register-container, .login-container {
  align-content: center;
  position: relative;
}

.register-container p {
  margin-bottom: 2rem;
}

.form-header h1 {
  margin-top: 5rem;
  text-align: center;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 600;
}

p {
  text-align: center;
}

.form-container {
  margin-top: 6rem;
  display: grid;
  grid-template-rows: 1fr;
}

.register-form, .login-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0rem;
  margin-top: 4rem;
  margin: 0 auto;
}

.form-control {
  border-width: 2px;
  border-color: #25274D;
  border: 3px solid;
  background-color: white;
  font-size: 1rem;
  margin: 4rem 2rem;
  width: 15rem;
  transition: 0.5s ease-in-out;
}

.form-control:focus {
  border-bottom-color: #9CB700;
  color: #fff;
}

input {
  color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: #fff;
}

.register-btn {
  margin-top: 1rem;
  height: 48px;
  width: 190px;
  color:black;

  border-radius: 4px;
  border-radius: 1.6rem;
  background: #9CB700;
  background-size: 150px 40px;
  background-size: contain;
  cursor: pointer;
  margin: 4rem auto;
  grid-column: 1 / -1;
}

.login-btn {
  margin-top: 1rem;
  height: 48px;
  width: 190px;
  color:black;
  border-radius: 1.6rem;
  background-color:#9CB700;
  background-repeat: no-repeat;
  background-size: 150px 40px;
  background-size: contain;
  cursor: pointer;
  margin: 4rem auto;
  grid-column: 1 / -1;
}

button:hover {
  opacity: 0.8;
}

.link {
  color: #9CB700;
  text-decoration: none;
  margin-bottom: 2rem;
  color:#9CB700;
  font-weight: bold;
}

.link:hover {
  color: #fff;
  font-size:1.2rem;font-weight:bold;
}

small {
  color: tomato;
  margin-left: 2rem;
  display: block;
}

@media only screen and (max-width: 768px) {
  .register-form, .login-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0rem;
    margin-top: 4rem;
    margin: 0 auto;
  }
}