.news-header {
  margin-top: 3rem;
}

.news-header h1 {
  display: inline-block;
  text-align: left;
  padding-left: 4rem;
  position: absolute;
  color: #fff;
}

.news-header img {
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  display: flex;
  height: 350px;
}

.news-headline {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
}

.news-article {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
}

@media only screen and (max-width: 978px) {
  .news-header h1 {
    display: block;
    text-align: center;
    padding-left: 0rem;
    position: relative;
    color: #fff;
  }

  .news-header img {
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    display: none;
    height: 50px;
  }
}