.news-thumbnail-item {
  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
  background-image: url("./assets/Container.png");
  background-repeat: no-repeat;
  background-size: 20rem 40rem;
  background-size: contain;
  height: 300px;
  width: 350px;
  margin: 2rem auto;
}

.news-thumbnail-item h1 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

.news-thumbnail-headline {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1rem;
  padding: 5px;
}

.news-thumbnail-article {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 8px;
}
